.open-modal-link {
  text-decoration: none;
  background: transparent;
  border: 0;
  padding: 0;

  .open-modal-link-text {
    text-decoration: underline;
  }

  &.link-above-buy-button {
    display: block;
    margin: 0 0 20px 0;
  }

  &.link-above-product-number {
    display: block;
    font-size: 12px;
    margin-bottom: 5px;

    .open-modal-link-text {
      color: #000000;

      &.link-has-icon {
        position: relative;
        top: -1px;
        margin-left: 2px;
      }
    }

    &:hover {
      text-decoration: none;
    }
  }
}
